
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #456;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 800px;
}
.formulario {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.contenedor {
  background: #ebebeb;
  padding: 12px;
}

.formulario p {
  padding: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.formulario input {
  width: 90%;
  border-width: 1px;
  padding: 16px;
  font-size: 16px;
  background: #fff;
  border-color: #5d5d5d;
  color: #555;
}

#boton{
  background: #104d80;
  border-color: transparent;
  color: #fff;
  width: 100%;
}
#check{
  position:absolute;
  right: 240px;
}
#condiciones{
  margin-left: 15px;
}
