/*INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
   
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

nav {
    color: rgb(229, 229, 229);
    display: flex;
    /*si no le pongo este flex hace scroll horizontal*/
    width: 100%;

    margin-bottom: 4%;
    margin-top: 1%;

    z-index: 1;
    position: absolute;


}
a:visited{
    color: rgb(229, 229, 229);
}
a:link{
    color:  rgb(229, 229, 229);
}

header {
    width: 100%;
    
    margin: 0px;
    user-select: none;

}
.abrir{
    z-index: 1;
    position: absolute;

    display: none;
}
.cerrar{
    z-index: 1;
    position: absolute;

    display: none;
}

.imagenHeader{
    background-repeat: no-repeat;
    width: 100%;
    
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    

    filter:brightness(60%)
}

.logoHeader{
    width: 50%;

    position: absolute;
    z-index: 2;

    top: 35%;
    left: 24%;

    filter:brightness(95%)
}
.flecha{
    position: absolute;
    top: 80%;
    left: 47%;

    width: 4%;

    filter:brightness(95%);
    transition: 0.7s;

}
.flecha:hover{
    cursor: pointer;
    transform: translateY(18px);
}

[class="separador"] {
    width: 90%;
    margin: 0 auto;
}

/*nav*/
.logoCabecera {
    display: flex;
    justify-content: center;
    transition: 2s;
    width: 90vw;
    margin-left: 43px;
}

.logoCabecera:hover {
    cursor: pointer;
    transform: rotate(720deg)
}

.logoCabecera img {
    width: 15vw;

}

.barraNav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 200%;
}

[class="elementoBarra"] {
    border-radius: 3px;
    transition: 0.5s;
}

[class="elementoBarra"]:hover {
    cursor: pointer;
    transform: scale(1.5);
}

/*MAIN*/
/*RECETAS*/
.recetas {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 20px;
}

.cardReceta {
    margin-top: 8%;
    transition: 0.3s;
    text-align: center;
}

.cardReceta:hover {
    cursor: pointer;
    transform: translateY(-18px);
    border-radius: 15px;

    background: #ffffff00;
    box-shadow: 1px 13px 26px #a7a7a7;
}

.recetas img {
    width: 300px;
    border-radius: 5px;
}

/*RESTAURANTES*/
[class="restaurantes"] {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.cardRestaurante {
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
}

.cardRestaurante:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

[class="restaurantes"] img {
    width: 360px;
    height: 262px;
}

/*CURSOS*/
.cursos {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

/*TIENDA*/

/*aside*/
.mainAsideTienda {
    width: 90vw;
    display: flex;
}

.asideTienda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    margin: 0px;
    padding: 0%;
    list-style: none;
    width: 10vw;
    height: 100%;
    /* background-color: #D97904; */
}

.asideTienda li {
    display: flex;
    justify-content: center;
    padding: 10%;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.asideTienda li:hover {
    cursor: pointer;
    transform: translateX(15px);
    font-size: 30px;
}

/*MAIN*/

.cardsProducto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5%;

}

.cardsProducto .card {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    width: 18vw;
    height: 55vh;
    transition: 1s;
    word-wrap: break-word;
    padding: 1%;
}

.cardsProducto .card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card p {
    margin: 0px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*CONTACTO*/

.inputLog{

    height: 30px;
    width: 350px;

}
.label{
    display: flex;
    gap: 10px;
}
span{
    font-size: 30px;

    margin-left: 10%;


}
label {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.condiciones{
    
    margin-left: -10%;
}