/*INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

    scroll-behavior: smooth;
}

header {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;

    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}



/*nav*/
nav {
    color: rgb(226, 226, 226);
    display: flex;
    /*si no le pongo este flex hace scroll horizontal*/
    width: 100%;

    margin-bottom: 4%;

    z-index: 1;
    position: absolute;
}

a:visited{
    color: rgb(226, 226, 226);
}
.sticky a:visited{
    color: #5a502591;
}

.abrir {
    z-index: 1;
    position: absolute;

    display: none;
}

.cerrar {
    z-index: 1;
    position: absolute;

    display: none;
}

.imagenHeader {
    background-repeat: no-repeat;
    width: 100%;

    height: 100vh;
    overflow: hidden;
    z-index: -1;


    filter: brightness(60%)
}

.logoHeader {
    width: 50%;

    position: absolute;
    z-index: 2;

    top: 35%;
    left: 24%;

    filter: brightness(95%)
}

.logoHeaderMobile {
    position: absolute;
    visibility: hidden;
}

.flecha {
    position: absolute;
    top: 80%;
    left: 47%;

    width: 4%;

    filter: brightness(95%);
    transition: 0.7s;

}

.flecha:hover {
    cursor: pointer;
    transform: translateY(18px);
}

[class="separador"] {
    width: 90%;
    margin: 0 auto;
}

.barraNav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 200%;
}

.barraNav {
    margin-top: 20px;
}

.sticky {
    /*para pegar la barra al tope*/
    position: fixed;
    top: 0;
    background-color: #f2f2f0c3;
    transition: 0.5s;

    margin: 0px;
}

.elementoBarra{
    transition: 0.5s;
}

[class="elementoBarra"]:hover {

    transform: translateY(5px);

}

/* .elementoBarra:hover > :not(:hover){
    opacity: 0.5;
  } */

/*MAIN*/

/************HISTORIA************/

.historia {
    width: 100%;
    height: 1000x;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(27, 1fr);

    font-size: 18px;
    background-color: #bfaa4e91;
}

.texto1 {
    grid-column: 3/16;
    grid-row: 3/16;
    margin: 0;


}

.img1 {
    grid-row: 3/10;
    grid-column: 20/31;
    width: 100%;
}

.img3 {
    grid-column: 3/16;
    grid-row: 12/30;

    width: 110%;
}

.img2 {
    grid-column: 20/28;
    grid-row: 20/31;
    width: 110%;
}

.texto2 {
    margin: 0;
    grid-column: 20/32;
    grid-row: 12/21;
}



/*RECETAS*/
.recetas {
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
}

.cardReceta {
    margin-top: 8%;
    transition: 0.3s;
    text-align: center;
}

.cardReceta:hover {
    cursor: pointer;
    transform: translateY(-18px);
    border-radius: 15px;

    background: #ffffff00;
    box-shadow: 1px 13px 26px #a7a7a7;
}

.recetas img {
    width: 300px;
    border-radius: 5px;
}

/*RESTAURANTES*/
[class="restaurantes"] {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.cardRestaurante {
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
}

.cardRestaurante:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

[class="restaurantes"] img {
    width: 360px;
    height: 262px;
}

/*CURSOS*/
.cursos {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

/*TIENDA*/

/*aside*/
.mainAsideTienda {
    width: 90vw;
    display: flex;
}

.asideTienda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    margin-top: 5rem;
    padding: 0%;
    list-style: none;
    width: 10vw;
    height: 100%;
    /* background-color: #D97904; */
}

.asideTienda li {
    display: flex;
    justify-content: center;
    padding: 10%;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.asideTienda li:hover {
    cursor: pointer;
    transform: translateX(15px);
    font-size: 30px;
}

/*MAIN*/

.mainTienda {
    margin-top: 3rem;
}

.cardsProducto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5%;

}

.cardsProducto .card {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    width: 250px;
    height: auto;
    transition: 1s;
    word-wrap: break-word;
    padding: 1%;
}

.cardsProducto .card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card p {
    margin: 0px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*CONTACTO*/
/* 
form{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    gap:1rem;
}

.inputLog{

    height: 30px;
    width: 350px;

}
.label{
    display: flex;
    gap: 10px;
}
span{
    font-size: 30px;

    margin-left: 10%;


}
label {
    display: flex;
    justify-content: center;
}

button {
    
}

.condiciones{
    
    margin-left: -10%;
} */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*CONTACTO*/

form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputLog {

    height: 30px;
    width: 350px;

}

.inputSpan{
    display: flex;

}

.label {
    display: flex;
    gap: 10px;
}

span {
    font-size: 30px;

    margin-left: 10%;


}

label {
    display: flex;
    justify-content: center;
}

.condiciones {

    margin-left: -10%;
}

.bodyContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #456;
    background-image: url(img/sandy-ravaloniaina-rARwqh9IXEE-unsplash.jpg);
    background-size: 2000px;
    overflow: hidden;

}

.mainRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 700px;
}

.mainContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
}

.formulario {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.contenedor {
    display: flex;
    background: #ebebeb;
    width: 150%;
    border-radius: 3%;
}

.formulario p {
    padding: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.formulario input {
    width: 90%;
    height: 10px;
    border-width: 1px;
    padding: 16px;
    font-size: 16px;
    background: #fff;
    border-color: #5d5d5d;
    color: #555;
}

#boton {
    background: #104d80;
    border-color: transparent;
    color: #fff;
    width: 100%;
    height: 50px;
}

.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

#condiciones {
    margin-left: 15px;
}
.login{
    display: flex;
}