@media screen and  (max-width: 650px){
    .logoHeaderMobile{
        visibility:visible;
        width: 35%;
        top: 3%;
        left: 2%;
    }
    .opacidad{ /*aplicada al fondo cuando se abre*/
        filter:brightness(60%);
    }
    .barraNav{
        visibility: hidden;
        
        position: absolute;
        top: 0px;


        bottom: 0;
        padding-top: 15%;
        padding-bottom: 5%;
        margin-top: 0;
        

        bottom: 0px; /*para que llegue hasta abajo*/
    }
    .barraNav ul{
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
    }
    .barraNav li{
        transition: 0s;
        font-size: 90%;
        padding: 5%;/*hay un padding a investigar en RESTAURANTEs*/
    }
    .login .elementoBarra{
        height: fit-content;
        width: fit-content;
    }
    .flecha{
        display: none;
    }
    /*******************/
    .cerrar, 
    .abrir{
        display: block;
        position: absolute;

        background-color: transparent;
        color: rgb(229, 229, 229);

        border: none;
        cursor: pointer;
    }
    .abrir{
        font-size: 270%;
        top: 2%;
        left: 86%;
    }
    .cerrar{
        font-size: 150%;
        top: 2%;
        left: 86%;
    }
    .abrir.esconder{
        visibility: hidden;
    }
    .barraNav.visible{
        visibility: visible;
    }


    /******************TIENDA***********************/
    .mainTienda{
        margin-top: 30%;
    }

    .asideTienda{
        flex-direction: row;
        margin-left: 50%;
    }
    .asideTienda li{
        margin-top: 0%;
    }

    /*******************LOGIN/SIGNUP********************/

    
}