/*INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    text-decoration: none;

    scroll-behavior: smooth;
}

header {
    width: 100%;
}

body {

    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;

    background-color: rgb(249, 249, 249);
    background-size: cover;
    background-repeat: no-repeat;

}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}



/*nav*/
nav {
    color: rgb(226, 226, 226);
    display: flex;
    /*si no le pongo este flex hace scroll horizontal*/
    width: 100%;

    margin-bottom: 4%;

    z-index: 1;
    position: absolute;
}

nav a:visited {
    color: rgb(226, 226, 226);
}

.bi-box-arrow-right {

    margin-left: 10px;

}

.bi-person {

    margin-right: 10px;

}

.bi-table {

    margin-right: 10px;

}

.sticky a:visited {
    color: #5a502591;
}

.abrir {
    z-index: 2;
    position: absolute;

    display: none;
}

.cerrar {
    z-index: 2;
    position: absolute;

    display: none;
}

.imagenHeader {
    background-repeat: no-repeat;
    width: 100%;

    height: 100vh;
    overflow: hidden;
    z-index: -1;


    filter: brightness(60%)
}

.logoHeader {
    width: 50%;

    position: absolute;
    z-index: 2;

    top: 35%;
    left: 24%;

    filter: brightness(95%)
}

.logoHeaderMobile {
    position: absolute;
    visibility: hidden;
}

.flecha {
    position: absolute;
    top: 80%;
    left: 47%;

    width: 4%;

    filter: brightness(95%);
    transition: 0.7s;

}

.flecha:hover {
    cursor: pointer;
    transform: translateY(18px);
}

[class="separador"] {
    width: 90%;
    margin: 0 auto;
}

.barraNav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 200%;
}

.barraNav {
    margin-top: 20px;
}

.sticky {
    /*para pegar la barra al tope*/
    position: fixed;
    top: 0;
    background-color: #f2f2f0c3;
    transition: 0.5s;

    margin: 0px;
}

.elementoBarra {
    transition: 0.5s;
}

[class="elementoBarra"]:hover {

    transform: translateY(5px);

}

.login {
    display: flex;
}

/*MAIN*/

/************HISTORIA************/

.historia {
    width: 100%;
    height: 1000x;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(27, 1fr);

    font-size: 18px;
    background-color: #bfaa4e91;
}

#historia p {
    font-size: 3rem;
    font-family: 'Taviraj', serif;
    color: #0a080391;
    line-height: 50px;
}

.texto1 {
    grid-column: 3/16;
    grid-row: 3/16;
}

.img1 {
    grid-row: 3/10;
    grid-column: 20/31;
    width: 100%;
    margin-top: 54px;
}

.img3 {
    grid-column: 3/16;
    grid-row: 12/30;

    width: 110%;
}

.img2 {
    grid-column: 20/31;
    grid-row: 20/25;
    width: 84%;
}

.texto2 {
    margin: 0;
    grid-column: 20/32;
    grid-row: 12/21;
}



/*RECETAS*/
.recetas {
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
}

.cardReceta {
    margin-top: 8%;
    transition: 0.3s;
    text-align: center;
}

.cardReceta:hover {
    cursor: pointer;
    transform: translateY(-18px);
    border-radius: 15px;

    background: #ffffff00;
    box-shadow: 1px 13px 26px #a7a7a7;
}

.recetas img {
    width: 300px;
    border-radius: 5px;
}

.nombreReceta {
    color: #0a0803;
}

.descripcionReceta {
    display: none;
}

/*RESTAURANTES*/
[class="restaurantes"] {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;


}

.cardRestaurante {
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
}

.cardRestaurante:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

[class="restaurantes"] img {
    width: 360px;
    height: 262px;
}

/*cursos*/

.cursos {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 3%;
    background-color: #D6AF4D;
}

.cursos p {
    text-align: center;

}

.cursos img {
    width: 30%;
    cursor: pointer;
    transition: 0.5s;
}

.cursos img:hover {
    transform: scale(1.2);
}

.cursos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10%;

}

footer {
    display: flex;

    justify-content: space-around;
    align-items: center;
    background-color: #CC9A49;

    font-size: 18px;
}

.redes {
    cursor: pointer;
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: 3rem;
}

@media screen and (max-width: 650px) {
    
    main {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .logoHeaderMobile {
        visibility: visible;
        width: 35%;
        top: 3%;
        left: 2%;
    }

    .opacidad {
        /*aplicada al fondo cuando se abre*/
        filter: brightness(60%);
    }

    .barraNav {
        visibility: hidden;

        position: absolute;
        top: 0px;


        bottom: 0;
        padding-top: 15%;
        padding-bottom: 5%;
        margin-top: 0;


        bottom: 0px;
        /*para que llegue hasta abajo*/
    }

    .barraNav ul {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }

    .barraNav li {
        transition: 0s;
        font-size: 90%;
        padding: 5%;
        /*hay un padding a investigar en RESTAURANTEs*/
    }

    .login .elementoBarra {
        height: fit-content;
        width: fit-content;
    }

    .flecha {
        display: none;
    }

    /*******************/
    .cerrar,
    .abrir {
        display: block;
        position: absolute;

        background-color: transparent;
        color: rgb(229, 229, 229);

        border: none;
        cursor: pointer;
    }

    .abrir {
        font-size: 270%;
        top: 2%;
        left: 86%;
    }

    .cerrar {
        font-size: 150%;
        top: 2%;
        left: 86%;
    }

    .abrir.esconder {
        visibility: hidden;
    }

    .barraNav.visible {
        visibility: visible;
        z-index: 3;
    }

    #historia {
        width: 100%;
        height: 1000x;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        font-size: 10px;
        background-color: #bfaa4e91;
    }

    #historia p {
        margin: 10px;
        margin-left: 20px;
        font-size: 32px;
        font-family: 'Taviraj', serif;
        color: #0a080391;
    }

    .texto1 {
        margin: 10px;
        font-size: 32px;
        font-family: 'Taviraj', serif;
        color: #0a080391;    }

    .img1 {
        width: 70%;
        margin: 24px;
    }

    .img3 {
        width: 70%;
        margin: 24px;
    }

    .img2 {
        width: 70%;
        margin: 24px;
    }

    .texto2 {
        margin: 10px;
        font-size: 32px;
        font-family: 'Taviraj', serif;
        color: #0a080391;
    }
    
    /*RECETAS*/
    .recetas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin-bottom: 20px;
    }
    /*cursos*/
    .cursos p {
        display: none;
    }
    /*RESTAURANTES*/
    .restaurantes {
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        width: 100%;
    }
    .redes {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        justify-content: space-between;
        font-size: 3rem;
    }
}